#map {
  width: 100vw;
  height: 100vh;
  filter: sepia(0.7);
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/paper.png');
  mix-blend-mode: multiply;
  background-repeat: repeat;
  opacity: 0.5;
  pointer-events: none;
}
.leaflet-popup-content {
  font-size: 1.3em; 
}